<section>
    <section id="product">
        <section class="product-image">
            <img src="../../../assets/img/product.svg">
        </section>
        <div id="product-description">
            <div class="title">Product Title</div>
            <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
        </div>
        <section class="product-price">
            <div class="price-net">Einzelpreis:&nbsp;&nbsp;100,00&nbsp;€</div>
            <div class="price-tax">zzgl. MwSt.:&nbsp;&nbsp;16,00&nbsp;€</div>
            <div class="title">Gesamtpreis:&nbsp;&nbsp;116,00&nbsp;€</div>
        </section>
    </section>
    <section id="amount">
        <div>Menge: 
            <select name="amount" id="amount">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </section>
</section>